.bg-CD3D0F{background-color: #CD3D0F;}
.bg-BEBCBB{background-color: #BEBCBB;}
.bg-D9DADC{background-color: #D9DADC;}
.color-1a80d3{color: #1a80d3}
body{
    padding-top: 90px;
}
a{
    text-decoration: none;
}
.sony img{
    width: 80px;
}
.platform{
    position: absolute;
    top: 40px;
    left: 0;
    height: auto;
    width: 100%;
    max-height: 220px 
}
.accordion{
    --bs-accordion-btn-icon-width: 0.7rem;  
}
.jumbotron-img{
    height: 60vh;
    color: white;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;  
}
.evidence-game{
    color: white;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}
.nuove-uscite p{
    color: white;
}
sup {
    position: relative;
    font-size: 25px;
    top: -6px;
    right: 5px;
}
/* media query */
@media screen and (min-width: 992px) { 
    .disp-none{display: inline-block;}
    
}
